In [2]:
from data import dt
import pandas as pd

df = pd.DataFrame(dt[1:], columns=dt[0])
df.head(3)

,S.No.,Organization,Problem Statement Title,Category,PS Number,Submitted Idea(s) Count,Theme
0,1,Ministry of Chemicals and Fertilizers,International Comparative System to Launch Int...,Software,SIH1278,107,Miscellaneous
1,2,Ministry of Law and Justice,Development of software for streamlining the l...,Software,SIH1279,208,Miscellaneous
2,3,Ministry of Law and Justice,Development of e-Portal for facilitating Case ...,Software,SIH1280,379,Miscellaneous

In [3]:
colnm = ['S.No.', 'Organization', 'Problem Statement Title', 'Category', 'PS Number', 'Submitted Idea(s) Count', 'Domain Bucket']

sr = {
    0: df["S.No."],
    1: df["Organization"],
    2: df["Problem Statement Title"],
    3: df["Category"],
    4: df["PS Number"],
    5: df["Submitted Idea(s) Count"],
    6: df["Domain Bucket"]
}

In [4]:

df_col_filter = df[[
    colnm[0], colnm[3], colnm[5]
]]
df_col_filter.head(3)

   S.No.  Category  Submitted Idea(s) Count
0      1  Software                      107
1      2  Software                      208
2      3  Software                      379

In [5]:
df_row_filter = df_col_filter[
    sr[5] < 100
]
df_row_filter.head(3)

    S.No.  Category  Submitted Idea(s) Count
10     11  Software                       95
11     12  Software                       93
18     19  Software                       66

In [6]:
print(list(df[colnm[6]].unique()))

['Miscellaneous', 'Smart Education', 'Blockchain & Cybersecurity', 'Clean & Green Technology', 'Disaster Management', 'Agriculture, FoodTech & Rural Development', 'Transportation & Logistics', 'Renewable / Sustainable Energy', 'Robotics and Drones', 'Smart Vehicles', 'Smart Automation', 'MedTech / BioTech / HealthTech', 'Fitness & Sports', 'Travel & Tourism', 'Heritage & Culture', '0']

In [6]:
df["Problem Statement Title"] = df["Problem Statement Title"].str.replace(" ", "")
df.head(3)

,S.No.,Organization,Problem Statement Title,Category,PS Number,Submitted Idea(s) Count,Theme
0,1,Ministry of Chemicals and Fertilizers,InternationalComparativeSystemtoLaunchIntegrat...,Software,SIH1278,107,Miscellaneous
1,2,Ministry of Law and Justice,Developmentofsoftwareforstreamliningthelisting...,Software,SIH1279,208,Miscellaneous
2,3,Ministry of Law and Justice,Developmentofe-PortalforfacilitatingCaseManage...,Software,SIH1280,379,Miscellaneous